<div class="card">
  <div class="info-container">
    <div class="data-container">
      <i class="fa-regular fa-folder folder"></i>
      <div>
        <p class="project-name">{{ project.title }}</p>
        <p class="project-date">
          Started {{ project.date | date : "longDate" }}
        </p>
      </div>
    </div>
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </div>

  <p class="project-description">{{ project.description }}</p>
  <div class="tech-container">
    @for (technology of project.technologies; track $index) {
    <p
      [style.background-color]="hexToRgba(technology.color, 0.1)"
      [style.color]="technology.color"
    >
      <span>•</span> {{ technology.name.toLowerCase() }}
    </p>
    }
  </div>

  <hr />

  <div class="status-container">
    <p>{{ project.status }}</p>
    <p>{{ project.time }}m</p>
  </div>
</div>
